.sidebar-component {
  min-width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #3d63db;
  padding-top: 30px;
  color: #ffffff;
  min-height: 90vh;
  border-radius: 10px 0 0 10px;
}

.profile-image {
  height: 80px;
  background-size: cover;
  border-radius: 300px;
}

.tabs-container {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tab {
  margin: 30px 0 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
}

.tab-name {
  margin: 0;
  padding-left: 15px;
}

@media (max-width: 768px) {
  .tab-name {
    display: none;
  }

  .profile-image {
    height: 40px;
    background-size: cover;
    border-radius: 300px;
  }

  .profile-name {
    display: none;
  }
}
