.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.button {
  color: #ffffff;
  background-color: black;
  border: 0;
  border-radius: 8px;
  padding: 10px;
  width: 80px;
  text-decoration: none;
  text-align: center;
}
