.item {
  text-align: center;
}

.width {
  width: 64px;
  font-size: 10px;
  overflow-y: auto;
  max-height: 50px;
}

.image {
  width: 70px;
  height: 70px;
}

.button-item {
  background-color: transparent;
  border: 0;
}

.modal {
  font-size: 12px;
  background-color: #ffffff;
  min-height: 40vh;
  width: 40vw;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.cards {
  text-align: center;
}

@media (max-width: 768px) {
  .image {
    width: 100px;
    height: 100px;
  }

  .modal {
    width: 60vw;
  }
}
